
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Score Coinche</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	
	<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-pageslide-directive/dist/angular-pageslide-directive.js"></script>
	<script src="js/app.js"></script>
  </head>
  <body>
  	<div ng-controller="myController">
  		<div id="details-screen" ng-show="!addScoreOpen">
			<a ng-click="tableOpen = !tableOpen" type="button">...</a>
			<div ng-include="template.url"></div>
		    <pageslide ps-open="tableOpen">
	            <div class="table-responsive"> 
					<table class="table table-bordered table-striped">
						<thead> 
							<tr> 
								<th> Contrat </th> 
								<th> Nous </th> 
								<th> Vous </th>
							</tr> 
						</thead> 
						<tbody> 
							<tr ng-repeat="round in rounds"> 
								<td>
									{{round.owner}} - {{round.contrat}} <span class="optionSuit {{round.suit}}"> {{round.coinche}}
								</td>
								<td>
									{{round.pointNous}}
								</td>
								<td>
									{{round.pointEux}}
								</td>
							</tr> 
				
						</tbody> 
					</table> 
				</div>
		    </pageslide>
			
			<div class="scores">
				<div class="total nous">
					<h4> Nous </h4>
					<div ng-class="{green: getTotal('nous')>=getTotal('vous'),red:getTotal('nous')<getTotal('vous')}" class="score">
						<span>{{getTotal('nous')}}</span>
					</div>
				</div>
				<div class="total eux">
					<h4> Eux </h4>
					<div ng-class="{green: getTotal('vous')>=getTotal('nous'),red:getTotal('vous')<getTotal('nous')}" class="score green">
						<span>{{getTotal('vous')}}</span>
					</div>
				</div>
			</div>

			<div id="newRoundBtnContainer" class="center-block">
				<button id="newRoundBtn" ng-click="newRoundOpen = !newRoundOpen" type="button" class="btn btn-primary btn-lg btn-block">Nouvelle manche</button> 
			</div>
			<div ng-show="newRoundOpen" id="roundForm">
				<div class="buttons">
					<a id="closeRoundBtn" ng-click="newRoundOpen = !newRoundOpen" type="button" class="left">Annuler</a> 
					<a id="closeRoundBtn" ng-click="newRoundOpen = !newRoundOpen" type="button">Passe</a> 
					<a id="closeRoundBtn" ng-click="addScoreOpen = !addScoreOpen" type="button" class="right">Ok</a> 
				</div>
				<div class="selectContainer">
					<form>
						<select ng-model="newRound.owner" id="selectNewRound" class="form-control" size="2" style="width:20%">
						  <option value="nous">Nous</option>
						  <option value="vous">Eux</option>
						</select>
						<select ng-model="newRound.point" id="selectNewRound" class="form-control" size="7" style="width:25%">
						  <option>80</option>
						  <option>90</option>
						  <option>100</option>
						  <option>110</option>
						  <option>120</option>
						  <option>130</option>
						  <option>140</option>
						  <option>150</option>
						  <option>160</option>
						  <option>170</option>
						  <option>180</option>
						  <option value="250">Capot</option>
						</select>
						<select ng-model="newRound.suit" id="selectNewRound" class="form-control" size="4" style="width:15%">
						  <option value="pique" class="optionSuit pique"></option>
						  <option value="coeur" class="optionSuit coeur"></option>
						  <option value="trefle" class="optionSuit trefle"></option>
						  <option value="carreau" class="optionSuit carreau"></option>
						</select>
						<select ng-model="newRound.coinche" id="selectNewRound" class="form-control" size="3" style="width:35%">
						  <option></option>
						  <option value="coinche">Coinché</option>
						  <option value="surcoinche">Surcoinché</option>
						</select>
					</form>
				</div>
			</div>
		</div>
		<div ng-show="addScoreOpen" id="scoreForm">
			
			<div id="scoreScreen">
				<div class="row header">
					<div class="col-xs-6 col-sm-6 text-left">
				    	<a ng-click="addScoreOpen = !addScoreOpen">Annuler</a>
			    	</div>
			    	<div class="col-xs-6 col-sm-6 text-right">
				    	<a ng-click="validateScore()">Valider</a>
			    	</div>
				</div>
				<div id="teamSelection" class="text-center">
					<form>
						<button ng-class="{selected: score.owner=='nous'}" ng-click="score.owner = 'nous'" 
							class="btn btn-default btn-lg" type="button">		
							Nous
						</button>
						<button ng-class="{'selected': score.owner=='vous'}" ng-click="score.owner = 'vous'"
						 class="btn btn-default btn-lg" type="button">Eux</button>
					</form>
				</div>
				<span id="scoreValue">{{score.value}}</span>
			</div>
			<div id="keyboard">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="padding-15 text-center">
							{{newRound.owner}} - {{newRound.point}}  <span class="optionSuit {{newRound.suit}}"> </span>  {{newRound.coinche}}
						</div>
					</div>
					<div class="col-xs-6 col-sm-6">
						<button class="btn btn-default btn-lg" ng-class="{'selected': score.belote=='nous'}" 
						ng-click="(score.belote == 'nous') ? score.belote = '' : score.belote = 'nous'" type="button">
							Belote Nous
						</button>
					</div>
					<div class="col-xs-6 col-sm-6">
						<button class="btn btn-default btn-lg" ng-class="{'selected': score.belote=='vous'}" 
						ng-click="(score.belote == 'vous') ? score.belote = '' : score.belote = 'vous'" type="button">
							Belote Eux
						</button>
					</div>
				    <div class="col-xs-4 col-sm-4">
				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(1)">1</button>
			    	</div>
				    <div class="col-xs-4 col-sm-4">
				    	<button class="btn btn-default btn-lg" type="button"  ng-click="changeScoreValue(2)">2</button>
			    	</div>
				    <div class="col-xs-4 col-sm-4">
				    	<button class="btn btn-default btn-lg" type="button"  ng-click="changeScoreValue(3)">3</button>
			    	</div>
				    <div class="col-xs-4 col-sm-4">
				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(4)">4</button>
			    	</div>
				    <div class="col-xs-4 col-sm-4">
				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(5)">5</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(6)">6</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(7)">7</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(8)">8</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(9)">9</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreByCapot()">Capot</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="changeScoreValue(0)">0</button>
			    	</div>
  				    <div class="col-xs-4 col-sm-4">
  				    	<button class="btn btn-default btn-lg" type="button" ng-click="deleteScore(0)">Effacer</button>
			    	</div>
				</div>
			<div>
		</div>
	</div>
	 

  </body>
</html>